form{
  width:70vw;
}

form div{
  display:flex;
  gap:10px;
}

.btncolor{
  background:green;
  color:white;
  border:solid white 2px;
}

.btncolor:hover{
  border:solid green 2px;
  color:green;
  transition:1s;
}


@media only screen and (max-width: 600px) {
  form {
    width:80vw;
  }
}

.cardcontainer{
  margin-top:20px;
}