<link rel="stylesheet" href="../static/projects.css">

{% include "header.html" %}


<div class="container">

<h2>Web Scrapping Projects</h2>
<div class="row mb-2">
  {% for i in range(4) %}
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Web Scraping</strong>
          <h3 class="mb-0">Scraping Oscar Winning Movies from IMDb</h3>
          <div class="mb-1 text-muted">July 12, 2022</div>
          <p class="card-text mb-auto">This project scrape the movies details from IMDb and store in a csv file. In this project we used requests and beautifulsoup4 library of python.</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="https://w0.peakpx.com/wallpaper/563/1008/HD-wallpaper-priyanka-chopra-actress-indian-celebrity-heroine.jpg" alt="Priyanka Chopra" width="220" height="300">
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
  <hr>


  
  <h2>Exploratory Data Analysis Projects</h2>
  <div class="row mb-2">
  {% for i in range(4) %}
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Web Scraping</strong>
          <h3 class="mb-0">Scraping Oscar Winning Movies from IMDb</h3>
          <div class="mb-1 text-muted">July 12, 2022</div>
          <p class="card-text mb-auto">This project scrape the movies details from IMDb and store in a csv file. In this project we used requests and beautifulsoup4 library of python.</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="https://w0.peakpx.com/wallpaper/563/1008/HD-wallpaper-priyanka-chopra-actress-indian-celebrity-heroine.jpg" alt="Priyanka Chopra" width="220" height="300">
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
  <hr>

  
  
  <h2>Machine Learning Projects</h2>
  <div class="row mb-2">
  {% for i in range(4) %}
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Web Scraping</strong>
          <h3 class="mb-0">Scraping Oscar Winning Movies from IMDb</h3>
          <div class="mb-1 text-muted">July 12, 2022</div>
          <p class="card-text mb-auto">This project scrape the movies details from IMDb and store in a csv file. In this project we used requests and beautifulsoup4 library of python.</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="https://w0.peakpx.com/wallpaper/563/1008/HD-wallpaper-priyanka-chopra-actress-indian-celebrity-heroine.jpg" alt="Priyanka Chopra" width="220" height="300">
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
  <hr>


  
  <h2>Deep Learning Projects</h2>
  <div class="row mb-2">
  {% for i in range(4) %}
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Web Scraping</strong>
          <h3 class="mb-0">Scraping Oscar Winning Movies from IMDb</h3>
          <div class="mb-1 text-muted">July 12, 2022</div>
          <p class="card-text mb-auto">This project scrape the movies details from IMDb and store in a csv file. In this project we used requests and beautifulsoup4 library of python.</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="https://w0.peakpx.com/wallpaper/563/1008/HD-wallpaper-priyanka-chopra-actress-indian-celebrity-heroine.jpg" alt="Priyanka Chopra" width="220" height="300">
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
  <hr>
</div>

{% include "footer.html" %}