<link rel="stylesheet" href="../static/recommendation.css">

{% include "header.html" %}

<div class="container">
  <h2>Book Recommendation System</h2>

  {% include "recommend.html" %}
  <hr>

  
  <h3>Top 50 books</h3>
  <div class="cardcontainer">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
      {% for i in range(book_name | length) %}
        <div class="col">
          <div class="card shadow-sm">
           <img src="{{image[i]}}" width="300" height="325">
            <div class="card-body">
              <b class="card-text">{{book_name[i]}}</b>
              <p class="card-text">{{author[i]}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">{{ "%0.1f" | format(rating[i] | float) }} ⭐</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">{{votes[i]}} 👍</button>
                </div>
                <small class="text-muted">Read</small>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% include "footer.html" %}